


/*** ------------------------------- ***/
/*** QUI EST EN LIGNE -------------- ***/

.qeel {
    background: var(--neutralDark);
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 1px;
    margin-bottom: 10px;
}

.qeel > div {
    background: var(--neutral);
    padding: 15px 10px;
}

.qeel-left {
    border-radius: 5px 0 0 5px;
}

/* Dernier inscrit */
#last_user {
  display: flex;
  align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#lastuser_avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-right: 10px;
  float:left;
}

#newest_user {font-size: 10px!important; font-weight: 800; letter-spacing: 1.5px; 
  text-transform: uppercase;font-family: 'Quicksand', sans-serif;}

.qeel_welcome{border-radius:2px; 
  moz-border-radius:2px;
  padding:4px 10px;
  color:var(--neutral);
  background:var(--couleur3);
  background: linear-gradient(135deg,var(--couleur4),var(--couleur3));
  text-transform: uppercase; 
  font-weight: 600;
  font-size:9px!important;
  letter-spacing: 0.5px;
  display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 5px;}

/*Messages et membres*/

.qeel_msgmb{vertical-align:top; display:flex; flew-direction: row;  justify-content: space-evenly;align-items: center;}

#tUSERS{font-family: 'Quicksand', sans-serif; -webkit-background-clip: text;-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(right,var(--couleur3),var(--couleur4));line-height:30px; font-size: 30px; font-weight:400!important; }

#tPOSTS{font-family: 'Quicksand', sans-serif; -webkit-background-clip: text;-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(right,var(--couleur3),var(--couleur4));line-height:30px; font-size: 30px; font-weight:400!important; }

/* groupes*/

i.cp.cp-fire{
    color: #dcc0a6;}

i.cp.cp-drop{
    color: #a6d2dc;}

i.cp.cp-leaf{
    color: #c7dcc0;}

i.cp.cp-flash {
    color: #c0cbdc;}

a.air {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--neutralDark);
    border-radius: 5px;
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 5px;
    font-size: 12px!important;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: var(--textColorAccent);
}

a.air:hover {
 background: linear-gradient(135deg,#c0cbdc,#c0cbdc);
  color: var(--neutral);
}

a.terre {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--neutralDark);
    border-radius: 5px;
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 5px;
    font-size: 12px!important;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: var(--textColorAccent);
}

a.terre:hover {
 background: linear-gradient(135deg,#c7dcc0,#c7dcc0);
  color: var(--neutral);}


a.eau {
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--neutralDark);
    border-radius: 5px;
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 5px;
    font-size: 12px!important;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: var(--textColorAccent);
}

a.eau:hover {
 background: linear-gradient(135deg,#a6d2dc,#a6d2dc);
  color: var(--neutral);}

a.feu {  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background: var(--neutralDark);
    border-radius: 5px;
    text-align: center;
    padding: 5px 30px;
    margin-bottom: 5px;
    font-size: 12px!important;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    color: var(--textColorAccent);
}


a.feu:hover {
 background: linear-gradient(135deg,#dcc0a6,#dcc0a6);
  color: var(--neutral);}

a.feu:last-child {margin-bottom: 0}

.qeel-middle {}

/*X connectés :: 1 membre, 0 invisible, 0 invité*/
#total_users { font-size: 10px!important;
    font-family: 'Noto Sans', sans-serif; 
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    line-height:10px;
    text-align: center;
  width: 225px;
    margin: auto;
}

/*Connectés en ce moment*/
#online_users {
    height: 58px;
    overflow: auto;
    font-family: 'Quicksand',sans-serif;
    text-transform: uppercase;
    font-size: 10px!important;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 1.5px;
}

/*ne pas supprimer*/
#online_users br {
    display: none
}

.img_credits { width: auto; height: auto; 
background: url('https://images2.imgbox.com/04/f7/m9gRaQ7x_o.png'); 
position: relative; margin: auto; border-radius: 5px;
object-fit: cover;
object-position: center;
background-size: 100%;}

.credits {height: 115px; 
    font-size: var(--little-size);
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    opacity: 0;
    -webkit-transition: all 0.5s; -htm-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
    overflow:auto;
    text-align:justify;
    line-height: 12px;}

.img_credits:hover > .credits{
opacity: 1;
background: var(--neutral);}

.qeel-right {
    border-radius: 0 5px 5px 0;
    text-align: justify;
    font-family: 'Quicksand',sans-serif;
    text-transform: uppercase;
    font-size: 10px!important;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.qeel_24h {
    height: 151px;
    overflow: auto;
      line-height: 16px;
}


.qeel_liens { float:left;
  margin-top: 3px;
  margin-bottom: 6px;
    width: 118px;
    font-size: 9px;
    text-align: center;
   margin-right:2px; color:var(--contrast);
}

.qeel_liens_cadre { 
background: var(--neutralDark); color:var(--contrast);
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; 
    width: 115px;
margin-bottom: 6px;
    padding: 5px 0;}

.qeel_liens_a {color:var(--contrast);font-weight: 600; letter-spacing: .5px; text-transform: uppercase;}
.qeel_liens a{color:var(--contrast);}


/*--------------------- PROFILS ---------------------------------*/

/*---- onglets des profils ------*/

/* les onglets */
.systab .tab {display: inline-block;
    padding: 1px 5px;margin-left:6px;
  margin-top:2px;
  cursor: pointer;
}

.tab {width: 70px;
  margin-bottom:8px;
  margin-top:-8px;
  height:10px;
display: inline-block;
    background:var(--col6);
border-bottom: 1.5px solid var(--col2);
  color:var(--col15);
padding:5px 10px; text-align: center;
      font-family: 'Poppins', sans-serif;
       text-transform: uppercase;
     transition: color 0.3s;
font-weight: 500;
letter-spacing: .5px;
font-size:9px!important;}


/* les onglets survolés */
.systab .tab:hover {
    font-style: italic;
}
/* les onglets sélectionnés */
.systab .tab.selected{
border-bottom: 1.5px solid var(--col4);
}

/* contenus associés aux onglets  */
.systab .contents {
  margin-top: 1px;
  margin-bottom: 1px;
      text-align: justify;
}
/* style des onglets */
.systab.s_float .tab,.systab.s_float .tab {
  display: block;
  margin: 5px;
}
/* flottement des conteneurs  */
.systab.s_float .tabs,.systab.s_float .contents {
  float: left;
}

/* champs infos (ex : 1er onglet) */
.infos01 .infos02:first-child, .infos01 .infos02:nth-child(2), .infos01 .infos02:nth-child(3) {display: none;}
/* champs compétences (ex : 2ème onglet)  */
.comp01 .comp02:nth-child(1n) {display: none;}
.comp01 .comp02:first-child, .comp01 .comp02:nth-child(2), .comp01 .comp02:nth-child(3) {display:block;}

.complabel {color: var(--col6)!important; 
  background: linear-gradient(0.30turn,var(--col2),var(--col4));
    padding: 2px 10px;
  margin-bottom:3px;
  text-transform: uppercase!important;
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
font-weight: 500;
letter-spacing: 1.5px;
    }

.compcont{margin-top: 5px;
    margin-bottom: 2px;
  padding:5px;
    height: 60px!important;
    background: var(--col6);
    overflow:hidden;
    text-align: left;}

.prfond{
  width:216px;
height: 735px;
margin: auto;
text-align: justify;
font-family: Arial, sans-serif;
font-size: 11px;
line-height: 11px;
color:var(--col14);
background:var(--col6);}

.pseudofond{ height: auto;
     width:200px;
  margin-top:5px;
     background: var(--col6);
     margin: auto;
}

.prpseudo {padding:2px;
     line-height: 13px;
     text-align: center;
     text-transform: uppercase;
     font-size: 12px;
     font-family: 'Poppins', sans-serif;
     letter-spacing: 1px;
     transition: color 0.3s;
}

.prpseudo a span strong {
  font-weight: 500 !important;
}

.rang{height: auto;
   background: rgb(178,199,220);
    background: linear-gradient(90deg, rgba(165, 194, 170) 20%, #abb9cc 34%, #918BB5 100%);
     width:200px;
  margin-top:5px!important;
    padding: 1px 0px;
     margin: auto;
  text-align:center;
text-transform: uppercase;
     color: var(--col7);
     font-family: 'Poppins', sans-serif;
  font-size: 8px!important;
font-weight: 400;
letter-spacing: 1px;}

.pravfond{vertical-align:top; 
text-align:center;
  margin:auto;
width:200px;
height:320px;
}

.pravfond img:hover{ filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);}

.prinfosfond {width:200px; 
height:230px; overflow:auto;
font-size:10px; text-align:justify-all; line-height:10px;
text-transform: lowercase;
font-family: 'Poppins', sans-serif;
color:var(--col14);
margin:auto;
background:var(--col7); 
 overflow-x: hidden!important;}


.champs {
white-space: normal;
  word-spacing:3px;
     color: var(--col4);
  font-family: 'Poppins', sans-serif;
     transition: color 0.3s;
  font-size: 9px;
font-weight: 500;
letter-spacing: .5px;
    text-transform: lowercase;
}


.txtinfos {
padding:10px;
 overflow-x: hidden!important;}

.rangimg { background:var(--col6);
  max-width:200px;
  width:200px!important;
text-align:center;
height: auto;
margin-bottom:0px;}

.rangimg img{ max-width:190px;
  width:190px!important;
  margin:auto!important;
  text-align:center;
margin-bottom:-10px;}

.postdetails.poster-profile img {
  max-width:175px; /* largeur */
  max-height:px; /* hauteur */
   overflow-x: hidden!important;

}


.imgprofil{height:9px!important;
text-align:center;
margin:auto!important;}

/* IMAGES CONTACT JOUEUR */
.CONTACTPR {
height:9px!important;
text-align:center;
margin:auto!important;
  postion:relative;
}

.CONTACTPR img{height:15px!important;
margin-top:10px;
margin-bottom:10px;}

hr {
    border: solid var(--col8) 0;
    border-top-width: 1px;
    height: 0;
}
